.landingContent {
    display: flex;
    flex-direction: column; /* Stack the img and p vertically */
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text inside the p element */
    padding: 20px; /* padding for spacing around the content */
    max-width: 75%;
    margin: 0 auto; /* Center the content block */
    }
.pfp {
    /* size */
    height: 30%;
    width: 30%;
}
p {
    max-width: 40%;
}

.chessLink {
    color: black;
    text-decoration: none;
}
.chessLink:hover {
    color: grey;
    text-decoration: underline;
}