.header {
    font-size: 3em;
    font-family: Garamond, serif;
}

.subheader {
    font-size: 2em;
    font-family: Garamond, serif;
}

.text {
    font-size: 1em;
    font-family: Garamond, serif;
}

.generic {
    font-family: Garamond, serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.alignmentLeft {
    text-align: left;
}

.alignmentCenter {
    text-align: center;
}

.alignmentRight {
    text-align: right;
}

a:hover {
    color: #8883DA;
}

a {
    color: #3B32E5;
    text-decoration: none;
    font-weight: bold;
}
