.header {
    font-size: 3em;
    font-family: Garamond, serif;
}

.text {
    font-size: 1em;
    font-family: Garamond, serif;
}

.generic {
    font-family: Garamond, serif;
}

.alignmentLeft {
    text-align: left;
}

.alignmentCenter {
    text-align: center;
}

.alignmentRight {
    text-align: right;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a {
    color: #3C3C3C;
    text-decoration: none;
    font-weight: bold;
}

link {
    color: #3C3C3C;
    text-decoration: none;
    font-weight: bold;
}