.footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 100%; 
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #7C7C7C;
    border: solid;
    border-width: 1px;
}

.footer p, .footer a {
    margin-inline: 7%; 
    align-items: center;
    display: flex;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover{
    color: #C8C8C8;
    text-decoration: underline;
}
  
.icon-github {
    height: 20%;
    width: 20%;
}