.projectTitle {
    display: inline-block;
}

.projectBody {
    margin-block-start: 0em;
    margin-block-end: 1em;
}

.projectBody p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.divider {
    border: 0.1px solid black;
}